@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    background: #c7e2ec;
}
h1{
    background-color: #4a9eff;
    font-size: 1.75rem;
    text-align: center;
    padding: 18px 0;
    color: #ffffff;
}
h2{
    font-size: 1.75rem;
    text-align: center;
    color: #000000;
    
}
.container {
    display: flex;
    gap: 35px;
    padding: 30px;
    
}
.location-input {
    width: 600px;
    border-radius: 4px;
}
.location-input input {
    height: 46px;
    width: 100%;
    outline: none;
    font-size: 1.00rem;
    padding: 0 17px;
    margin: 10px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #a2cdff;
}
.location-input input:focus {
    padding: 0 16px;
    border: 2px solid #4a9eff;
}
.location-input .separator {
    height: 2px;
    width: 100%;
    margin: 25px 0;
    background: #6C757D;
    display: flex;
    align-items: center;
    justify-content: center;
}
.location-input .separator::before{
    content: "or";
    color: #6C757D;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #c7e2ec;
    }
  .location-input button {
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background: #5372F0;
    transition: 0.2s ease;
  }
  .location-input .search-btn:hover {
    background: #2c52ed;
  }
  .location-input .location-btn {
    background: #6C757D;
  }
  .location-input .location-btn:hover {
    background: #5c636a;
  }
.weather-data{
    width: 100%;
    gap: 35px;
   
}
.weather-data .current-weather {
    color: #ffffff;
    background: #4a9eff;
    border-radius: 6px;
    padding: 20px 70px 20px 20px;
    display: flex;
    min-width: 200px;
    justify-content: space-between;
    margin: 20px;
}
.weather-data .current-weather h3 {
    margin-top: 3px;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.weather-data .forecast-weather {
    color: #000000;
    border-radius: 6px;
    margin: 20px;
}
.weather-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.weather-cards .card{
    flex: 1 6 200px;
    min-width: 200px;
    max-width: 200px;
    list-style: none;
    color: #ffffff;
    background: #2d455f;
    border-radius: 6px;
    padding: 10px;
    width: calc(100%/5);
}
.weather-cards .card img {
    max-width: 70px;
    min-width: 60px;
    margin: 5px 0 -12px 0;
}
.weather-data h3 {
    margin-top: 3px;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 20px;
}
.weather-data h6 {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
